:root {

    /* Colors: */
    --unnamed-color-010710: #010710;
    --unnamed-color-1b334b: #1B334B;
    --unnamed-color-2b589a: #2B589A;
    --unnamed-color-0047ba: #0047BA;
    --unnamed-color-0050dd: #0050DD;
    --unnamed-color-0197cd: #0197CD;
    --unnamed-color-b6d6e1: #B6D6E1;
    --unnamed-color-f1fffa: #F1FFFA;
    --unnamed-color-5e5d62: #5E5D62;
    --unnamed-color-d7d2cb: #D7D2CB;
    --unnamed-color-e6e6e6: #E6E6E6;
    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-20994a: #20994A;
    --unnamed-color-ce2529: #CE2529;
    --unnamed-color-ef3340: #EF3340;
    --unnamed-color-dbd42e: #DBD42E;

    /* Dimensiones */
    --full-width: 1322px;
    --full-height: 637px;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue;
    background-color: #EDF1F7;
    font-weight: 300;
}

/********************************
**  SCREEN TRIBUNAL
*********************************/
.tribunal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tribunal__container {
    width: var(--full-width);
    height: var(--full-height);
    display: flex;
    background-color: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.borradores {
    width: 337px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1.5px #D3D3D3;
}

.borradores__title {
    width: 100%;
    border-bottom: solid 1.5px #70707059;
}

.borradores__title h1 {
    font-family: Helvetica Neue;
    font-size: 18px;
    color: #575962;
    line-height: 22px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0px;
    padding: 10px 15px;
}

.borradores__container {
    width: 303px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.borradores__borrador {
    width: 303px;
    display: flex;
    flex-wrap: wrap;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000002E;
    border-radius: 5px;
    padding: 15px 0px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 15px;
    cursor: pointer;
}

.borradores__borrador:hover {
    background-color: #F2F2F2;
}

.borrador__icon {
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #9B9B9B;
}

.borrador__details {
    width: calc(100% - 43px);
}

.borrador__details p {
    margin-bottom: 5px;
}

.borrador__details span {
    color: var(--unnamed-color-2b589a);
    text-align: left;
    font: normal normal bold 10px/12px Helvetica Neue;
    letter-spacing: 0px;
    color: #2B589A;
}

.borrador__footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.borrador__date {
    text-align: left;
    font: normal normal bold 8px/10px Helvetica Neue;
    letter-spacing: 0px;
    color: #575962;
}

.borrador__button {
    margin-right: 10px;
}

.borrador__delete {
    color: var(--unnamed-color-ce2529);
    text-align: left;
    font: normal normal bold 8px/10px Helvetica Neue;
    letter-spacing: 0px;
    text-decoration: none;
}

.block-right {
    width: calc(100% - 339px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 105px 0px 60px 0px;
}

.block-right__text {
    width: 792px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: #575962;
    text-align: center;
    letter-spacing: 0px;
    margin-bottom: 107px;
}

.block-right__text span {
    text-align: center;
    font: normal normal bold Helvetica Neue;
    letter-spacing: 0px;
    color: #575962;
    font-weight: bold;
}

.tribunal form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tribunal form label {
    width: 100%;
    margin-bottom: 179px;
}

.block-right__form {
    width: 590px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tribunal form select {
    width: 100%;
    height: 38px;
    padding: 10px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    background: transparent linear-gradient(180deg, #E8E8E8 0%, #FEFEFE 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    margin-top: 15px;
}

.block-right__button {
    width: 186px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3572F2;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.block-right__button:hover {
    background-color: #2F6CEC;
}

/********************************
**  SCREEN EXPEDIENTE
*********************************/
.expedientes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expedientes__container {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px 0px;
}

.header__screen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.back__btn a {
    text-align: left;
    font-family: Helvetica Neue;
    letter-spacing: 0px;
    color: #131414;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}

.borradores__disponibles a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue;
    font-size: 11px;
    line-height: 13px;
    color: var(--unnamed-color-0050dd);
    text-align: left;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}

.borradores__disponibles svg {
    margin-right: 5px;
    font-size: 20px;
}

.screen__body {
    width: 100%;
    padding: 25px;
    background-color: var(--unnamed-color-ffffff);
    box-shadow: 0px 3px 6px #00000029;
}

.body__header {
    width: 100%;
    margin-bottom: 30px;
}

.screen__header {
    width: 100%;
    border-bottom: 2px solid #EDF1F7;
    padding-bottom: 13px;
}

.screen__header h1 {
    font-size: 20px;
    font-family: Helvetica Neue;
    line-height: 25px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0px;
    color: #577FF6;
}

.panel__tabs {
    width: 100%;
    height: 88px;
    margin-top: 14px;
}

.panel__tabs__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.panel__tab {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    position: relative;
}

.panel__tab h3 {
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
}

.tab__active {
    background-color: #F4FBFD;
    position: relative;
}

.tab__active::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -13px;
    border-top: 45px solid transparent;
    border-left: 15px solid #F4FBFD;
    border-bottom: 45px solid transparent;
}

.tab__active:last-child::after {
    border: none;
}

.tab__completed {
    background-color: var(--unnamed-color-2b589a);
    position: relative;
    color: #fff;
    z-index: 5;
}

.tab__completed::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -15px;
    border-top: 45px solid transparent;
    border-left: 15px solid #2b589a;
    border-bottom: 45px solid transparent;
}

.panel__progress-bar {
    width: 100%;
    height: 6px;
    background-color: #F7F7F7;
    position: relative;
}

.progress__bar {
    width: 0%;
    height: 6px;
    background-color: #84CE3F;
    transition: width 1s ease;
}

.actions__buttons {
    width: 100%;
    height: 46px;
    display: flex;
    margin-bottom: 14px;
}

.actions__link {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #CED4DA;
    color: var(--unnamed-color-2b589a);
}

.actions__link:hover {
    background-color: #264E8F;
    color: white;
    border-color: #264E8F;
}

.actions__link:first-child {
    border-radius: 10px 0px 0px 10px;
}

.actions__link:last-child {
    border-radius: 0px 10px 10px 0px;
}

.step__content {
    width: 100%;
    display: none;
}

.step__active {
    display: block;
}

.step__content-title {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--unnamed-color-5e5d62);
    letter-spacing: 0px;
    text-align: left;
}

.body__content-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__footer-right {
    display: flex;
    align-items: center;
}

.body__footer-right a {
    margin-left: 10px;
    cursor: pointer
}

.disabled__button {
    pointer-events: none;
    cursor: default;
    background-color: #C7C7C7;
    color: var(--unnamed-color-5e5d62);
}

/********************************
**  FORMS
*********************************/
label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 17px;
}

label span {
    color: var(--unnamed-color-ce2529);
}

form select {
    width: 100%;
    height: 38px;
    padding: 10px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    background: transparent linear-gradient(180deg, #E8E8E8 0%, #FEFEFE 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    margin-top: 3px;
}

.form__group {
    width: 100%;
    margin-top: 15px;
}

.form__group:first-child {
    margin-top: 0px;
}

input {
    width: 100%;
    height: 37px;
    background-color: var(--unnamed-color-ffffff);
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 10px;
}

input[disabled="disabled"] {
    background-color: #ECECEC;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}

/********************************
**  COMPONENTE DESPOSITANTE
*********************************/
.recepcion__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body__content-depositante {
    width: 450px;
    background-color: var(--unnamed-color-ffffff);
    border: 2px solid #D8D8D8;
    border-radius: 10px;
    padding: 15px 20px;
}

.step__content-title {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--unnamed-color-5e5d62);
    letter-spacing: 0px;
    text-align: left;
    border-bottom: 2px solid #D8D8D8;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.depositante__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__group.id {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.id a {
    width: 49px;
    height: 37px;
    background: #3572F2 0% 0% no-repeat padding-box;
    border: 1px solid #2166F0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.id input {
    width: calc(100% - 49px);
    border-radius: 4px 0px 0px 4px;
}

.column-2 {
    width: calc((100% / 2) - 19.5px);
}

.column-3 {
    width: calc((100% / 3) - 6.66px);
}

/********************************
**  COMPONENTE DEPOSITO
*********************************/
.body__content-deposito {
    width: calc(100% - 480px);
}

.deposito__row {
    width: 100%;
    margin-bottom: 23px;
}

.deposito__row .step__content-title {
    margin-bottom: 13px;
}

.row__field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.marginT {
    margin-top: 0px;
}

.marginR {
    margin-right: 10px;
}

.column-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column-icon input {
    width: calc(100% - 40px);
    border-radius: 4px 0px 0px 4px;
}

.column-icon .icon-item {
    width: 40px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CED4DA;
    border-radius: 0px 4px 4px 0px;
    color: #7A838A;
}

/************************************
**  PANTALLA INMOBILIARIO Y PARTES
*************************************/
.table-full {
    width: 100%;
    height: 400px;
    background-color: var(--unnamed-color-ffffff);
    border: 2px solid #D3D3D3;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #7E807F;
}

.table__header {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #111111;
    color: #222C45;
}

.header__item {
    width: calc(100% / 4);
}

.header__item:first-child {
    width: 10%;
    display: flex;
    justify-content: center;
}

.header__item:last-child {
    width: 12%;
}

.table__body {
    width: 100%;
}

.table__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D7D7D7;
    height: 63px;
}

.table__row:last-child {
    border: none;
}

.table input[type="checkbox"] {
    width: 16px;
}

.saveDraft-btn {
    width: 186px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font: normal normal 300 16px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #5E5D62;
    border: 2px solid #5E5D62;
    border-radius: 2px;
    cursor: pointer;
}

/************************************
**  PANTALLA DOCUMENTOS
*************************************/
.table-ocho {
    width: calc(100% - 380px);
}

.body__content-documents {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.body__content-documentMatriz {
    width: 375px;
    height: 400px;
    background-color: var(--unnamed-color-ffffff);
    border: 2px solid #D8D8D8;
    border-radius: 10px;
    padding: 15px 20px;
}

.body__content-documentMatriz .step__content-title {
    margin-bottom: 18px;
}

.documentMatriz__content {
    width: 100%;
}

.documents__legends {
    width: 100%;
}

.legends__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px dashed #B4B4B4;
}

.legend__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
}

.legend__item:last-child {
    margin-right: 0px;
}

.legend__item h3 {
    text-align: left;
    font-family: Helvetica Neue;
    letter-spacing: 0px;
    font-size: 11px;
    line-height: 12px;
    font-weight: 400;
}

.legend {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.legend__noCargado .legend {
    background-color: #7E807F;
    color: #7E807F;
}

.legend__vinculado .legend {
    background-color: #DBD42E;
    color: #DBD42E;
}

.legend__cargado .legend {
    background-color: #20994A;
    color: #20994A;
}

.legend__noCargado {
    color: #7E807F;
}

.legend__vinculado {
    color: #DBD42E;
}

.legend__cargado {
    color: #20994A;
}

.documents__text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-family: Helvetica Neue;
    letter-spacing: 0px;
    color: #575962;
    font-size: 11px;
    line-height: 12px;
}

.documents__types {
    width: 100%;
    margin-top: 30px;
    font-size: 12px;
}

.rounded {
    border-radius: 100%;
}

.documents__types div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

/********************************
**  PANTALLA VERIFICACION
*********************************/
.verificacion__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.verificacion__title {
    text-align: left;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #0097CD;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 20px;
}

.verificacion__recepcion {
    padding-bottom: 56px;
    border-bottom: 1px dashed #B4B4B4;
    margin-bottom: 15px;
}

.verificacion__sections {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dashed #B4B4B4;
    margin-bottom: 56px;
}

.verificacion__sections:last-child {
    margin-bottom: 0px;
    border: 0;
}

.columna-verificacion {
    width: calc((100% / 2) - 35px);
}

.columnas-4 .header__item {
    width: calc(100%);
    justify-content: flex-start;
}

.columnas-4 .header__item:first-child {
    padding-left: 24px;
}

.columnas-3 .header__item {
    width: calc(100%);
    justify-content: flex-start;
}

.columnas-3 .header__item:first-child {
    padding-left: 24px;
}

/********************************
**  MODALS
*********************************/
.modal {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #5E5D62A0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__container {
    width: 772px;
    height: 470px;
    background-color: var(--unnamed-color-ffffff);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal__icon {
    width: 123px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: var(--unnamed-color-ce2529);
    border: solid 8px var(--unnamed-color-ce2529);
    border-radius: 100%;
    margin-top: 23px;
}

.modal__text {
    width: 100%;
    text-align: center;
    font-family: Helvetica Neue;
    letter-spacing: 0px;
    color: #575962;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.modal__text p {
    width: 670px;
}

.modal__case-number .modal__text p {
    width: 616px;
}

.modal span {
    font-weight: bold;
}

.modal__action-delete .modal__icon {
    color: var(--unnamed-color-dbd42e);
    border-color: var(--unnamed-color-dbd42e);
}

.modal__saved-draft .modal__icon {
    color: var(--unnamed-color-20994a);
    border-color: var(--unnamed-color-20994a);
}

.modal__regresar .modal__icon {
    color: var(--unnamed-color-dbd42e);
    border-color: var(--unnamed-color-dbd42e);
}

.danger__button {
    background-color: #fff;
    border: solid 2px #BE3732;
    color: #BE3732;
}

.danger__button:hover {
    background-color: #fff;
    border: solid 2px #BE3732;
    color: #BE3732;
}

.border-blue__button {
    background-color: #fff;
    border: solid 2px #3572F2;
    color: #3572F2;
}

.border-blue__button:hover {
    background-color: #fff;
    border: solid 2px #3572F2;
    color: #3572F2;
}

.modal__footer {
    width: 100%;
    margin: 0px 47px;
    display: flex;
    justify-content: space-between;
}

.modal__case-number .modal__footer {
    justify-content: center;
}

.modal__saved-draft .modal__footer {
    width: calc((186px * 2) + 18px);
}

.modal__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: #575962;
}

.modal__header a {
    cursor: pointer;
}

.modal__borradores .modal__container {
    width: 337px;
    height: 650px;
}

.modal__active {
    display: flex;
}